Kalkulator/Service References/ServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UslugiSieciowe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UslugiSieciowe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Zespolone">
    <xs:sequence>
      <xs:element minOccurs="0" name="I" type="xs:double" />
      <xs:element minOccurs="0" name="R" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Zespolone" nillable="true" type="tns:Zespolone" />
  <xs:complexType name="AboutException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AboutException" nillable="true" type="tns:AboutException" />
</xs:schema>