Kalkulator/Service References/ServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51343/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UslugiSieciowe" />
  <xs:element name="ZDodaj">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UslugiSieciowe" minOccurs="0" name="z1" nillable="true" type="q1:Zespolone" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UslugiSieciowe" minOccurs="0" name="z2" nillable="true" type="q2:Zespolone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZDodajResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UslugiSieciowe" minOccurs="0" name="ZDodajResult" nillable="true" type="q3:Zespolone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZMinus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UslugiSieciowe" minOccurs="0" name="z1" nillable="true" type="q4:Zespolone" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UslugiSieciowe" minOccurs="0" name="z2" nillable="true" type="q5:Zespolone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZMinusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UslugiSieciowe" minOccurs="0" name="ZMinusResult" nillable="true" type="q6:Zespolone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZMnoz">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UslugiSieciowe" minOccurs="0" name="z1" nillable="true" type="q7:Zespolone" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UslugiSieciowe" minOccurs="0" name="z2" nillable="true" type="q8:Zespolone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZMnozResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UslugiSieciowe" minOccurs="0" name="ZMnozResult" nillable="true" type="q9:Zespolone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZDziel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UslugiSieciowe" minOccurs="0" name="z1" nillable="true" type="q10:Zespolone" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UslugiSieciowe" minOccurs="0" name="z2" nillable="true" type="q11:Zespolone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZDzielResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/UslugiSieciowe" minOccurs="0" name="ZDzielResult" nillable="true" type="q12:Zespolone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>